<div class='m_qn_group'>
				<div class="form-group">
					<label class="QuestionLabel" for="question">Question</label>
					<textarea class="form-control question multi_qn" ></textarea>
				</div>

		<div class='m_ans_grp'>
			<div class="row multi_fld">
				<div class="col-md-12">
					<label class="multi_ans">Answer</label>
					<div class="input-group ans">
						<input type="text" class="mult form-control" placeholder="Answer"></input>
						<span class="input-group-addon">
							<input value='1' class='check' type="checkbox">
						</span>
						<span class="removeObjFieldDiv input-group-addon"><a class="removeObjField btn btn-xs btn-warning"><i class="fa fa-times"> </i> </a></span>
					</div>
				 </div>
			</div>

			<div class="row multi_fld">
				<div class="col-md-12">
					<label class="multi_ans" for="multi_sel">Answer</label>
					<div class="input-group ans">
						<input type="text" class="mult form-control" placeholder="Answer"></input>
						<span class="input-group-addon">
							<input value='1' class='check' type="checkbox">
						</span>
						<span class="removeObjFieldDiv input-group-addon"><a class="removeObjField btn btn-xs btn-warning"><i class="fa fa-times"> </i> </a></span>
					</div>
				 </div>
			</div>
		</div>
		<div class="form-group">
					<button type="button" class='addChk'  class="btn btn-default"><i class='fa fa-plus'> </i> Add an Option</button>
		</div>
		</div>
</div>