<div class="o_qn_group">
				<div class="form-group">
					<label class="QuestionLabel" for="question">Question</label>
					<textarea class="o_question question form-control"></textarea>
				</div>

				<div class="obj_ans">
				<div class="row objField">
					<div class="col-md-12">
						<label class="objectiveAnswer" for="objectives">Answer</label>
						<div class="input-group ans">
							  <input type="text" class="objk form-control" placeholder="Answer">
							 <span class="input-group-addon">
								<input value="1" class="radio" type="radio">
							</span>
							<span class="removeObjFieldDiv input-group-addon"><a class="removeObjField btn btn-xs btn-warning"><i class="fa fa-times"> </i> </a></span>
						</div><!-- /input-group -->
				 	</div>
				</div>

				<div class="row objField">
					<div class="col-md-12">
						<label class="objectiveAnswer" for="objectives">Answer</label>
						<div class="input-group ans">
							  <input type="text" class="objk form-control" placeholder="Answer">
							 <span class="input-group-addon">
								<input value="1" class="radio" type="radio">
							</span>
							<span class="removeObjFieldDiv input-group-addon"><a class="removeObjField btn btn-xs btn-warning"><i class="fa fa-times"> </i> </a></span>
						</div><!-- /input-group -->
				  		</div>
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="addObj"><i class="fa fa-plus"> </i> Add an Objective</button>
				</div>
			</div>